<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="twitter" type="TwitDegrees.Core.Config.TwitterSection, TwitDegrees.Core "/>
		<section name="crawlerController" type="TwitDegrees.Core.Config.CrawlerControllerSection, TwitDegrees.Core" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<twitter
		RequestQueueName="FormatName:DIRECT=OS:trasa1000\private$\TwitterRequest"
		ResponseQueueName="FormatName:DIRECT=OS:trasa1000\private$\TwitterResponse"
		/>

	<log4net>
		<appender name="console" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<!--
		<appender name="logfile" type="log4net.Appender.FileAppender,log4net" >
			<file type="log4net.Util.PatternString" value="TwitDegrees.Controller_[%processid].log" />
			<param name="AppendToFile" value="true" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<conversionPattern value="%date %-5level %logger - %message%newline" />
			</layout>
		</appender>
		-->
		<logger name="NHibernate">
			<level value="WARN"/>
		</logger>
		
		<root>
			<!-- choices: ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
			<level value="INFO" />
			<appender-ref ref="console" />
			<!--<appender-ref ref="logfile" />-->
		</root>
	</log4net>

	<appSettings>
		<!-- causes log4net to get chatty about what its doing -->
		<add key="log4net.Internal.Debug" value="false"/>
	</appSettings>


	<connectionStrings>
		<add name="twitdegrees" connectionString="Data Source=priest;Initial Catalog=twitdegrees;Persist Security Info=True;User ID=twit;Password=twit;Connect Timeout=120"/>
	</connectionStrings>



	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Iesi.Collections" publicKeyToken="AA95F207798DFDB4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.1002" newVersion="2.1.0.1002"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
